@tailwind base;
@tailwind components;
@tailwind utilities;

h2.text-lg {
    text-align: center;
    font-size: 28px;
    font-weight: 300;
    color: #0000FF;
  }

  h3.text-lg {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
  }
  
  h4.text-title {
    font-size:18px;
    font-weight: 300;
    color: #0000FF;
  }

  /* Style the <ul> list items as columns */
  ul.col-3 {
    column-count: 3; 
    column-gap: 100px;
    list-style: none;
    width: 100%;
    display: flex;
  justify-content: center;
  align-items: center;
  }

  ul.col-4 {
    column-count: 4; 
    column-gap: 10px;
    list-style: none;
    width: 100%;
    padding: 0;
  }

  ul.col-5 {
    column-count: 5; 
    column-gap: 10px;
    list-style: none;
    width: 100%;
    padding: 0;
  }

  ul.col-2 {
    column-gap: 10px;
    list-style: none;
    width: 100%;
    padding: 0;
  }
  
  /* Style individual <li> items */
  li.mb-5 {
    margin-bottom: 10px; /* Optional: Adjust the margin between list items */
  }

  ul.col-3 li {
    margin-bottom: 10px;
  }

  ul.col-4 li {
    margin-bottom: 10px;
  }

  ul.col-5 li {
    margin-bottom: 10px;
  }
  
   ul.col-3 li b {
    font-weight: bold;
    display: block;
    margin-bottom: 2px; /* Create a new line after the <b> element */
  }

  ul.col-4 li b {
    font-weight: bold;
    display: block;
    margin-bottom: 2px; /* Create a new line after the <b> element */
  }

  ul.col-5 li b {
    font-weight: bold;
    display: block;
    margin-bottom: 2px; /* Create a new line after the <b> element */
  }
  
  /* Style the content within <li> */
  ul.max-w-md li span {
    font-weight: normal;
  }

  @media print {
    @page {
      margin-top: 50px;
        margin-bottom: 25px;
    }
    /* Custom header styles */
    @page {
        @top-center {
            content: "Your custom header content";
        }
    }

    /* Custom footer styles */
    @page {
        @bottom-left {
            content: "CONFIDENTIAL";
        }
    }
    div.page-footer, div.footer-info {
      display: block;
  }
}

